.hero {
height: 80vh;
background-image: url(../img/hero14.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: flex-start;


&__title {
padding: 1.8em 1em;
font-size: 3rem;
color: $clr-white;
font-family: $ff-merienda;

span {
display: block;
position: relative;
left: 2em;
padding-top: 0.4em;
text-transform: uppercase;
color: $clr-red;
}
}
}