.hero {
height: 80vh;
background-image: url(../img/hero15.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
display: grid;
place-items: center;


&__title {
padding: 1.2em 1em;
font-size: 1.5rem;
color: gray(light);
font-family: $ff-merienda;
letter-spacing: 2px;
margin-top: 5em;

@include mq(small) {
font-size: 2.2rem;
margin-top: 0;

}

span {
display: block;
position: relative;
text-transform: uppercase;
color: gray(dark);
font-size: 2rem;

@include mq(small) {
font-size: 3rem;
    
    }
}
}
}

.button-main {
color: gray(dark);
padding: .8em 2em;
text-decoration: none;
text-transform: uppercase;
border: 2px solid gray(dark);
font-family: $ff-alegreya;

letter-spacing: 2px;
align-self: flex-start;

&:hover {
border: 1px solid gray(dark);
background: rgba(gray(light), .3);
color: gray(dark);
}
}