@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700|Kaushan+Script|Merienda:400,700');

body {
text-align: center;
font-family: $ff-kaushan;
line-height: 1.6;
font-size: 1rem;
color: gray(medium);
}

h1, h2, h3, h4, p, figure, figcaption {
margin: 0;
padding: 0;
}

h2 {
font-size: 2rem;
color: gray(dark);
text-transform: uppercase;
display: inline-block;
margin-bottom: 1em;
font-family: $ff-alegreya;


}


.about__title {
color: $clr-red;
}

