// Media query

$breakpoints: (
small: 450px,
medium: 860px,
large: 1200px,
);


@mixin mq($size) {
@if map-has-key($breakpoints, $size) {
$breakpoint: map-get($breakpoints, $size);
@media(min-width: $breakpoint) {
@content;
}
}
@else if type-of($size) == number and not unitless($size) {
@media(min-width: $size) {
@content;
}
}
@else {
@error "you entered #{$size}, this map doesnt have this key or is unitless"
}
}


// Spacers

$spacer: 2em;


// Wrapper

@mixin wrapper($width: 90%) {
max-width: $width;
margin: 0 auto;
}

// Pseudo

@mixin line ($bg: currentColor, $height: 2px, $width: 100%, $size: .2em) {
&::after {
content: '';
width: $width;
height: $height;
background: $bg;
display: block;
margin: $size auto;


}
}

// Shadow

$box-shadow: 0 0 .5em rgba(black, .5);