@import url('https://fonts.googleapis.com/css?family=Alegreya+SC:400,500,700|Kaushan+Script|Merienda:400,700');

$ff-kaushan: 'Kaushan Script', cursive;
$ff-merienda: 'Merienda', cursive;
$ff-alegreya: 'Alegreya SC', serif;

$fw-light: 400;
$fw-normal: 500;
$fw-bold: 700;
